# --- SEGURIDAD ---
# No subir nunca las llaves privadas de la API
.env

# --- PYTHON ---
# Archivos temporales de compilación de Python
__pycache__/
*.py[cod]
*$py.class

# --- JUPYTER ---
# Archivos temporales que crea Jupyter al guardar
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- ENTORNOS VIRTUALES ---
# Entornos temporales para instalar las librerías
venv/
.venv/
env/

# --- DATOS (Crítico) ---
# Ignora la carpeta data para que no suba archivos CSV pesados, ya que el codigo lo descarga por si solo.
data/*.csv

# --- DISTRIBUCIÓN ---
# Archivos HTML
*.html